.nav-container {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    height: 80px;
    -webkit-box-shadow: 10px 10px 5px -5px rgba(199, 193, 199, 1);
    -moz-box-shadow: 10px 10px 5px -5px rgba(199, 193, 199, 1);
    box-shadow: 10px 10px 5px -5px rgba(199, 193, 199, 1);
    background-color: #fff;
    align-items: center;
    .logo-wrapper {
        img {
            width: 100px;
            height: 100px;
        }
    }
    .nav-wrapper {
        ul {
            li {
                display: inline-block;
                margin-left: 20px
            }
        }
    }
}